# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Kdevelop
*.kdev4
*.kdev_include_paths

# Misc
build
*.*~

CMakeCache.txt
CMakeFiles/
CMakeLists.txt.user
Makefile
_yarp_idl_/
app/CMakeFiles/
app/Makefile
app/cmake_install.cmake
bin/
cmake_install.cmake
icubcontrib-config-uninstall.cmake
install_manifest.txt
object-surface-exploration.cbp


app/applications/simCartesian.xml
app/contexts/contactSafety.ini
data/
include/badControllerException.h
latentRep/cirPrism/
latentRep/docopt.pyc
latentRep/fish/
latentRep/fishSQ/
latentRep/hut/
latentRep/hutWave/
latentRep/triangPrism/
matlabScripts/active_gurls.m
matlabScripts/checkModel.m
robotControl_thrift.cmake
robotControl_thrift.cmake.old
umlNew.xmi

